<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Прогноз</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  </head>
  <body style="background: #f4f4f4;">
    <header>
        <img src="../static/pic/10.png">
    </header>


      <div style="height: 30px;">
      </div>


<div id="s1">
    <img src="../static/pic/9.png">
</div>


      <div style="height: 40px;">
      </div>


<div id="s1">
    <img src="../static/pic/11.png">
</div>


      <div style="height: 40px;">
      </div>


    <form method = "POST" action="/project/prognoz/upload" enctype = "multipart/form-data">
      <input name="file" type="file" name="file" id="input__file" class="input input__file" accept=".csv" multiple>
      <label for="input__file" class="input__file-button">
        <span class="input__file-button-text" style="color: white;">ЗАГРУЗКА ИСХОДНЫХ ДАННЫХ</span>
      </label>


      <div style="height: 50px;">
      </div>


<div id="s1">
    <img src="../static/pic/2.png">
</div>


      <div style="height: 50px;">
      </div>


        <input id="submit_stule" type = "submit" value="СКАЧАЙТЕ ОБРАБОТАННЫЙ ФАЙЛ">
    </form>

      <div style="height: 100px;">
      </div>

<div id="s1">
    <img src="../static/pic/4.png">
</div>


      <div style="height: 65px;">
      </div>


<div id="s1" style="text-align: center;">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../static/pic/4.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Леус Елена Владимировна</h5>
    <p class="card-text">Методист БОУ ДО г. Омска "ГДДюТ", ИТ-координатор деятельности 17 ГМО УДО г. Омска<BR>
e-mail: leusew@mail.r</p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../static/pic/5.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Малютин Сергей Пантелеевич</h5>
    <p class="card-text">Старший методист БОУ ДО г. Омска "ГДДюТ", координатор деятельности 17 ГМО УДО г. Омска<BR>
e-mail: msp2311@gmail.com</p>
  </div>
</div>
</div>


      <div style="height: 75px;">
      </div>


<div id="s1">
    <img src="../static/pic/5.png">
</div>


      <div style="height: 50px;">
      </div>


<div id="s1" style="text-align: center;">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../static/pic/dp.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Беспалов Данил</h5>
    <p class="card-text">Роль в проекте - фронт-разработчик<BR>
Учащийся детского объединения "Творческая лаборатория "Проект "К-16" БОУ ДО г. Омска "ГДДюТ"<BR>
e-mail: bespalovd@gdtomsk.ru</p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../static/pic/mm.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Пономарева Маргарита Михайловна</h5>
    <p class="card-text">Роль в проекте - руководитель<BR>
Старший педагог доп. образования детского объединения "Творческая лаборатория "Проект "К-16" БОУ ДО г. Омска "ГДДюТ"<BR>
e-mail: programmers@rambler.ru</p>
  </div>
</div>




<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../static/pic/az.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Здоровцев Аркадий</h5>
    <p class="card-text">Роль в проекте - дизайнер<BR>
Учащийся детского объединения "Творческая лаборатория "Проект "К-16" БОУ ДО г. Омска "ГДДюТ"<BR>
e-mail: zdorovceva@gdtomsk.ru </p>
  </div>
</div>
</div>
      <div style="height: 20px;">
      </div>
<div id="s1" style="text-align: center;">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../static/pic/mt.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Ткачев Максим</h5>
    <p class="card-text">Роль в проекте - бэк-разработчик<BR>
Учащийся детского объединения "Творческая лаборатория "Проект "К-16" БОУ ДО г. Омска "ГДДюТ"<BR>
e-mail: tkachevm@gdtomsk.ru</p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../static/pic/gg.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Громов Георгий</h5>
    <p class="card-text">Роль в проекте - связь с общественностью<BR>
Учащийся детского объединения "Творческая лаборатория "Проект "К-16" БОУ ДО г. Омска "ГДДюТ"<BR>
e-mail: gromovg@gdtomsk.ru</p>
  </div>
</div>
</div>

      <div style="height: 75px;">
      </div>


<div id="s1">
    <img src="../static/pic/6.png">
</div>

<div id="s1">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2287.6647747487377!2d73.3214764160049!3d55.01404105619105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43aafde390bc26cf%3A0xe049e699aedc8f10!2z0JHQntCjINCU0J4g0LPQvtGA0L7QtNCwINCe0LzRgdC60LAgItCT0L7RgNC-0LTRgdC60L7QuSDQlNCy0L7RgNC10YYg0LTQtdGC0YHQutC-0LPQviAo0Y7QvdC-0YjQtdGB0LrQvtCz0L4pINGC0LLQvtGA0YfQtdGB0YLQstCwIg!5e0!3m2!1sru!2sru!4v1651053912853!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

    <div style="height: 30px;">
    </div>


    <footer style="height: 50px; background: #5C7887; line-height:50px;">
      <address style="text-align: center; color: white;">
&copy;&nbsp;Команда К-16&nbsp;<A style="color: white; text-decoration: none;" href="mailto:programmers@rambler.ru">programmers@rambler.ru</A>
      </address>
    </footer>
  </body>
</html>